

body{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     background-color:#e7e2de;
}

.container{
    display: grid;
    grid-gap: 0.2em;
	grid-template-columns: 1fr;
    grid-template-rows: 4em auto auto auto 1fr 7em;
	grid-template-areas: 
                                    "nav"
                                    "info"
                                    "aside"
                                    "body"
                                    "extra"
                                    "footer";
	}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

p{
    padding: 0.5em;
    font-size: 1.25em;
    font-family: "Baloo";
}

option, select{
    font-family: "Baloo";
    font-size: 1.25em;
    border-radius: 0.5em;
    color:#0E5E64;
}

h3, h4, h5, h6{
    font-family: "Skranji";
    color:#0E5E64;
}

select{
    margin-top: 0.5em;
    border-radius: 8px;
    box-shadow: 1px 3px 2px #b9aa9f;
    background-color:#e4d8ce;
    border: 2px #b9aa9f;
    transition: all 0.25s;
}

/* .error{
    margin-top: 15em;
} */

@font-face{
    font-family: "Baloo";
    src: url(../assets/fonts/Baloo.ttf);
}

@font-face{
    font-family: "Skranji";
    src: url(../assets/fonts/Skranji.ttf);
}

@font-face{
    font-family: "Quantico";
    src: url(../assets/fonts/Quantico.ttf);
}


/*************************** NAV ***************************/
.nav{
    position: sticky;
    top: 0;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    background-color:#d0c6be;
    border-top:3px solid #a28f81;
	border-bottom:3px solid #a28f81;
}

.logo{
    color: white;
    font-size: 2.5em;
    margin-left: 1em;
    padding: 0;
    font-family: "Quantico";
    color:#0E5E64;
}

.button{
    position: absolute;
    margin-left: 0.3em;
    margin-top: 0.6em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2em;
    height: 1.5em;
}

.button span{
    height: 0.3em;
    background-color: black;
    border-radius: 2em;
}

.nav__list{
    margin-left: 3em;
    display: none;
}

.navv{
    flex-direction: column;
    align-items: flex-start;
    background-color:#d0c6be;
    margin-top: 0.em;
    border-radius: 0.1em;
}

.nav__link{
    text-decoration: none;
    display: block;
    padding: 0.7em;
    font-weight: bolder;
    font-size: 1.5em;
    color:#0E5E64;
    font-variant: small-caps;
    font-family: "Skranji";
}

.nav__link:hover {
    border-radius: 0.5em;
    color: #8d7a6c;
}
/*************************** NAV ***************************/

/*************************** EXTRA ***************************/
.extra{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 15em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1.2em;
    border-radius: 8px;
    box-shadow: 1px 3px 2px #b9aa9f;
    background-color:#e4d8ce;
    border: 2px #b9aa9f;
    transition: all 0.25s;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px #ccc;
}

.card__h3{
    margin-top: 0.8em;
    margin-bottom: 0;
}

.card__img{
    max-width: 20em;
    border-radius: 0.2em;
}
/*************************** EXTRA ***************************/



/************************** FOOTER **************************/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top:3px solid #a28f81;
	border-bottom:3px solid #a28f81;
    background-color:#d0c6be;
    color: #390010;
}

.footer__h6{
    font-size: 0.8em;
    color: #390010;
    font-variant: small-caps;
    font-family: "Skranji";
    opacity: 0.75;
    margin: 0.5em;
}

.social, .fnav{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.fa{
    padding: 0.3em;
    padding-bottom: 0;
    font-size: 1.5em;
    width: 1.5em;
    opacity: 0.75;
    border: 2px solid #ccc;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
    color: #8d7a6c;
}

.fnav__list{
    display: flex;
    flex-direction: row;
}

.fnav__link{
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    font-weight: bolder;
    font-size: 1.1em;
    color: #390010;
    font-variant: small-caps;
    font-family: "Skranji";
    opacity: 0.75;
}

.fnav__link:hover {
    border-radius: 50%;
    color: #8d7a6c;
    opacity: 0.75;
}
/************************** FOOTER **************************/